/*
   mockups1.css
   15 May 2025
   The CSS for mockup1.html
*/

html, body {
    background: url('ImageFolder/Jungle-Backgroynd.jpg');
    background-size: cover;
    background-repeat: no-repeat ;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.nav-icons, .search-box {
    display: flex;
    gap: 10px;
}

.intro {
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    gap: 20px; 
}

.continent-list, .info-box-with-photo, .info-box-with-photo2{
    border: 2px solid black;
    padding: 15px;
    width: 200px;
    height: 350px;
    background-color: 	#fef4c0;
    border-radius: 10px; 
    text-align: center;
    margin-right: 40px;
}

.info-box-with-photo img, .info-box-with-photo2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.continent-list ul, .info-box ul{
    list-style: none;   
    padding-left: 0;   
}

.continent-list ul li{
    padding-bottom: 20px;
}

.continent-list ul li :hover {
    color: #FFD700; 
    transition: color 0.2s;
}
.title{
    font-size: 50px;
    margin-bottom: 10px;
    font-style: italic, sans-serif;
    text-align: center;
}

.title a:hover {
    color: #FFD700 !important;
    transition: color 0.2s;
}

.info-box-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-box{
    border: 2px solid black;
    padding: 15px;
    width: 200px;
    height: 150px;
    background-color: 	#fef4c0;
    border-radius: 10px; 
    text-align: center;
}

button {
    padding: 8px 14px;
    border-radius: 5px;
    font-weight: bold;
    background-color: 	#fef4c0;

}

button:hover {
    background-color: #FFD700; 
    color: black;
    transition: color 0.2s;
    cursor: pointer;
}


h1,h2,h3,li {
    color: #264d35;
}

.search-results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}