/*
   mockups2.css
   15 May 2025
   The CSS for mockup2.html
*/

html, body {
    background: url('ImageFolder/Jungle-Backgroynd.jpg');
    background-size: cover;
    width: 100%;
    height: 100%
}


.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.nav-icons, .search-box {
    display: flex;
    gap: 10px;
}

button {
    padding: 8px 14px;
    border-radius: 5px;
    font-weight: bold;
    background-color: 	#fef4c0;

}

h1,h2,h3,li {
    color: #264d35;
}

.info-box-with-photo{
    border: 2px solid black;
    padding: 15px;
    width: 200px;
    background-color: 	#fef4c0;
    border-radius: 10px; 
    text-align: center;
    margin-right: 40px;
}

.info-box-with-countries{
    border: 2px solid black;
    padding: 15px;
    width: 400px;
    height: 400px;
    background-color: 	#fef4c0;
    border-radius: 10px; 
    text-align: center;
    margin-right: 40px;
}

.info-box-with-countries ul{
    list-style: none;   
    padding-left: 0; 
}

.info-box-with-countries ul li{
    padding-bottom: 15px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    gap: 20px; 
}