/*
   mockups1.css
   15 May 2025
   The CSS for mockup1.html
*/


.header-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.nav-icons, .search-box {
    display: flex;
    gap: 10px;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  gap: 20px; 
}

.continent-list, .info-box {
  border: 2px solid black;
  padding: 15px;
  width: 200px;
  background-color: #f8f8f8; 
  border-radius: 10px; 
  text-align: center;
}
