<!DOCTYPE html>
<html>
<head>
    <title>Animals API reference</title>
</head>
<body>
    <pre>Animals API: endpoint reference

REQUEST: /help
RESPONSE:
    This message.

REQUEST: /
RESPONSE:
    Takes you to the homepage of the website with feature animals.
    The homepage allows users to search for an animal by name, access the interactive map, 
    and see which animals can be found in a specific continent.

REQUEST: /animal/{animal_name}
RESPONSE:
        Returns the summary information about the animals specified.
        This page is called when an animal is searched for in the search bar 
        or when an animal is clicked on in the map page.

REQUEST: /map
RESPONSE:
        Takes you to the map page of the website.
        The map page allows users to click on a country on the map to see the animals found there.
        They can then click on the animal to see the summary information about the animal.

REQUEST: /continent/{continent_name}
RESPONSE:
        Takes the user to a page that lists with links of all the animals found in the continent specified.
        There is a side bar that when an animal is clicked on, it shows the summary information about the animal.

