<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>

<body>
    <h1> Animal Information Details</h1>

    <p><button id="databutton">Get Animal Info</button></p>
    <p><button id="countrybutton">Get Countries </button></p>
    <p><table id="results_table"></table></p>
    <p><table id="results_table2"></table></p>
    <div id="animals"></div>

    <p><input type="text" id="animal_search_text" placeholder="Search animal by name" /> <button id="animal_search_button">Search</button></p>
    <ul id="animal_search_results"></ul>

        <p>This page links to all the mockups we created. ☺️</p>
    <ul>
        <li><a href="/home">mockup1.html</a></li>
        <li><a href="mockup2.html">mockup2.html</a></li>
        <li><a href="mockup3.html">mockup3.html</a></li>
        <li><a href="mockup4.html">mockup4.html</a></li>
        <li><a href="mockup5.html">mockup5.html</a></li>
        <li><a href="mockup6.html">mockup6.html</a></li>
        <li><a href="mockup7.html">mockup7.html</a></li>
        <li><a href="mockup8.html">mockup8.html</a></li>

    </ul>

</body>
</html>
