<!DOCTYPE html>
<html>
<head>
    <title>Map Sample</title>
    <!-- Required libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.9/datamaps.world.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/map-sample-world.css"/>
    <script src="/static/map-sample-world.js"></script>
</head>

    <body>
        <header>
        <div class="header-bar">
            <h1 class="title"><a href="/" style="text-decoration: none; color: inherit;">Wild Thangs</a></h1>
            <div class="nav-bar">
                <div class="nav-icons">
                    <button title="Back" onclick="window.history.back();">Back</button>
                    <button title="Map"><a href="/map" style="text-decoration: none; color: inherit;">Map</a></button>
                    <button title="Home"><a href="/" style="text-decoration: none; color: inherit;">🏠</a></button>
                </div>
                <div class="search-box">         
                    <p>
                        <input type="text" id="animal_search_text" placeholder="Search animal by name" /> 
                        <button id="animal_search_button">Search</button>
                    </p>
                </div>
            </div>
        </div>
    </header>
        <h2>Click on a country to see the animals found there!</h2>
        
    <div id="animal_list"></div>

    <div class="main-container"></div>

    <div id="country-summary"></div>

    <div id="map-container"></div>

    </body>
</html>