
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild Thangs</title>
    <link rel="stylesheet" type="text/css" href="mockup2.css" />

</head>

<body>
    <header>
        <div class="header-bar">
            <h1 class="title">Wild Thangs</h1>
            <div class="nav-bar">
                <div class="nav-icons">
                    <button title="Back">Back</button>
                    <button title="Home">🏠</button>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Type country or animal to search" />
                    <button title="Search">🔍</button>
                </div>
            </div>
        </div>
    </header>


    <div class="main-container">
        <div class="info-box-with-photo">
                <img src="ImageFolder/Lion.webp" alt="Lion" style="width:100%; border-radius: 10px;">
                <h3 style="text-decoration: underline;">African Lion</h3>
                <p>Known as the king of the jungle, lions are found in the savannas of Africa.</p>
        </div>

        <div class="info-box-with-countries">
            <h2 style="text-decoration: underline;">Countries</h2>
            <ul>
                <li><a href="#Angola">Angola</a></li>
                <li><a href="#Benin">Benin</a></li>
                <li><a href="#Botswana">Botswana</a></li>
                <li><a href="#Burkina Faso">Burkina Faso</a></li>
                <li><a href="#Cameroon">Cameroon</a></li>
                <li><a href="#Central African Republic">Central African Republic</a></li>
                <li><a href="#Chad">Chad</a></li>
                <li><a href="#DR Congo">DR Congo</a></li>
                <li><a href="#Ethiopia">Ethiopia</a></li>
                <li><a href="#India">India</a></li>
            </ul>

        </div>

    </div>
</body>