<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild Thangs</title>
    <link rel="stylesheet" type="text/css" href="mockup3.css" />

</head>

<body>
    <header>
        <div class="header-bar">
            <h1 class="title" >Wild Thangs</h1>
            <div class="nav-bar">
                <div class="nav-icons">
                    <button title="Back">Back</button>
                    <button title="Home">🏠</button>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Type country or animal to search" />
                    <button title="Search">🔍</button>
                </div>
            </div>
        </div>
    </header>

    <div class="main-container">
        
        <div class="info-box-with-photo">
            <img src="ImageFolder/Seven_continents.png" alt="World" style="width:100%; border-radius: 10px;">
            <h3 style="text-decoration: underline; color: #460567">CLICK ON ONE OF THE 7 CONTINENTS TO START THE SEARCH...</h3>
            <!--Credit: <a href="https://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=105319278">Link</a>
                        CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=105319278 -->
        </div>


        
    </div>





</body>
</html>
