<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild Thangs</title>
    <link rel="stylesheet" type="text/css" href="mockup1.css" />

</head>

<body>
    <header>
        <div class="header-bar">
            <h1 class="title">Wild Thangs</h1>
            <div class="nav-bar">
                <div class="nav-icons">
                    <button title="Back">Back</button>
                    <button title="Home">🏠</button>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="Type country or animal to search" />
                    <button title="Search">🔍</button>
                </div>
            </div>
        </div>
    </header>
    
    <section class="intro">
        <h2>Treand: Increasing</h2>
        <p>Animals that have a population treand of Near Increasing.</p>  
    </section>

    <div class="main-container">
        <div class="continent-list">
            <h2 style="text-decoration: underline;">Aimals</h2>
            <ul>
                <li><href=>Gray Seal</a></li>
                <li><href=>Erasian Beaver</a></li>
                <li><href=>Southern Right Whale</a></li>
                <li><href=>Hamadrayas Baboon</a></li>
            </ul>
        </div>      
       <div class="info-box-group">
            <div class="info-box" style = "height: 160px;">
                <h2 style="text-decoration: underline;">Population Trend</h2>
                <ul>
                    <li><a href=" #Stable">Stable</a></li>
                    <li><a href=" #Decreasing">Decreasing</a></li>
                    <li><a href=" #Increasing">Increasing</a></li>
                    <li><a href=" #Unkown">Unkown</a></li>
                </ul>
            </div>  
        </div>