<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='testing.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='testing.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Wild Thangs</title>


</head>

<body>
    <header>
        <div class="header-bar">
            <h1 class="title"><a href="/" style="text-decoration: none; color: inherit;">Wild Thangs</a></h1>
            <div class="nav-bar">
                <div class="nav-icons">
                    <button title="Back" onclick="window.history.back();">Back</button>
                    <button title="Home"><a href="/" style="text-decoration: none; color: inherit;">🏠</a></button>
                </div>
                <div class="search-box">
                    <p>
                        <input type="text" id="animal_search_text" placeholder="Search animal by name" /> 
                        <button id="animal_search_button">Search</button>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <div class="main-container">

        <div class="animal-info-search-results">
            <h2 style="color: rgb(100, 66, 11); " id = "list_title"></h2>
            <h3 style="color: rgb(100, 66, 11); ">Select an animal to learn more about it!</h3>
                <p><ul id="animal_list"></ul></p>
        </div>

        <div class="animal-info-list">
            <h2 style="color: rgb(21, 100, 11); text-align: center; " id = "animal_title">Animal Info Result</h2>
            <p><table id="results_table"></table></p>

        </div>


        
    </div>





</body>
</html>
