<!DOCTYPE html>
<html>
<head>
    <title>Animals API reference</title>
</head>
<body>
    <pre>Animals API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    A greeting from this API to you.

REQUEST: /help
RESPONSE:
    This message

REQUEST: /firstletter
RESPONSE:
    A list of all the animals available in the dataset whose names start with the given letter.
    The case of the letter given does not make a difference.
    Each animal will be represented as a dictionary with the key "animal_name"
    </pre>
</body>
</html>


